<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.david_2.petshop">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.STORAGE" />s

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PetMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PetDetails"></activity>
        <activity android:name=".PetInfo"></activity>
        <activity android:name=".PetCall"></activity>
        <activity android:name=".PetSchedule"></activity>
        <activity android:name=".PetFind"></activity>
        <activity android:name=".createEvent" android:theme="@style/AppTheme.Fade"></activity>
        <activity android:name=".createPet" android:theme="@style/AppTheme.Fade"></activity>
        <activity android:name=".Record"></activity>s

    </application>

</manifest>